<!doctype html>
<head>
    <title>{{context.title}}</title>
    <link href="../styles/shared.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        <fieldset>
            <label for="name"> Name: </label>
            <input type="text" name="team-name" id="name">
            <label for="coach"> Coach: </label>
            <input type="text" name="coach" id="coach">
            <label for="description"> Description: </label>
            <input type="text" name="description" id="description">
            <label for="location"> Location: </label>
            <input type="text" name="location" id="location">
            <label for="record"> Record: </label>
            <input type="text" name="record" id="record">
            <input type="file" name="image">
        </fieldset>
        <input type="submit" value="Upload">
    </form>      
</body>