<!doctype html>
<head>
    <title>NFL Data</title>
    <link href="public/styles/shared.css" rel="stylesheet" type="text/css">
    <link href="public/styles/index.css" rel="stylesheet" type="text/css">
</head>
<body>
     <div class="header">
        <h1 class="header-home-title">NFL Data</h1>
        <div class="header-navbar-selectable"><a href="add-new-form.html">Add New Team</a></div>

    </div>
    <div class="container body-content">
        {{context.imageTags}}
    </div>


</body>

