<!doctype html>
<head>
    <title>NFL Data</title>
    <link href="/public/styles/shared.css" rel="stylesheet" type="text/css">
</head>
<body>
     <div class="header">
         <div class="header-elements">
            <a href="index.html"><h1 class="header-home-title">NFL Data</h1></a>
            <a class="header-form-link" href="add-new-form.html">Add New Team</a>
         </div>
    </div>

        {{context.imageTag}}
        {{context.name}}
        {{context.location}}
        {{context.record}}
        {{context.description}}
        {{context.coach}}

</body>