<!doctype html>
<head>
    <title>NFL Data</title>
    <link href="/public/styles/shared.css" rel="stylesheet" type="text/css">
    <link href="/public/styles/team-data.css" rel="stylesheet" type="text/css">

</head>
<body>
     <div class="header">
         <div class="header-elements">
            <a href="index.html"><h1 class="header-home-title">NFL Data</h1></a>
            <a class="header-form-link" href="add-new-form.html">Add New Team</a>
         </div>
    </div>
    <div>
        <div class="team-logo">
            {{context.imageTag}}
        </div>
        <div class="team-data">
            <ul>
                <li>
                    {{context.name}}
                </li>
                <li>
                    {{context.location}}
                </li>
                <li>
                    {{context.record}}
                </li>
                <li>
                    {{context.coach}}
                </li>
                <li>
                    {{context.description}}
                </li>
            </ul>                        
        </div>
    </div>
</body>