.logo-large{
    width: 75%;
    align-content: center;
    align-self: center;
    position: relative;

}

.team-logo{
  align-content: center;
  align-self: center;
  position: relative;
  width: 75%;
}
